.full-width-bg {
	height: 100vh;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 0.75) 100%), url(../images/desk-bg.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
}